-# Full Page
#page

  -# Page header
  #header
    #logo-title
      %a(href="#{$front_page}")
        %img(src="#{$logo}")
      #name-and-slogan
        %h1#site-name
          - if ($site_name)
            %a(href="#{$front_page}")= $site_name
        - if ($site_slogan)
          #site-slogan= $site_slogan

  -# Main Container
  .clear-block#container
    .menu#navigation
      .clear-block#primary
        %h1.title#page-title= $title
        = $main_menu, $secondary_menu

    -# Left sidebar
    - if ($left)
      .column.sidebar#sidebar-left= $left

    -# Main Content
    .column#main
      #main-squeeze
        #mission= $mission
        #content
          - if ($tabs)
            .tabs
              %ul.tabs-primary= $tabs
              %ul.tabs-secondary= $tabs2
          = $messages, $help
          #content-content= $content
          = $feed_icons

    -# Right sidebar
    - if ($right)
      .column.sidebar#sidebar-right= $right

  -# Footer
  #footer-wrapper
    - if ($footer)
      #footer= $footer
= $page_bottom
