-# Full Page
#page

  -# Page header
  #header
    #logo-title
      %a(href="#{$front_page}")
        %img(src="#{$logo}")
      #name-and-slogan
        %h1#site-name
          - if ($site_name)
            %a(href="#{$front_page}")= $site_name
        - if ($site_slogan)
          #site-slogan= $site_slogan

  -# Main Container
  .clear-block#container
    .menu#navigation
      .clear-block#primary
        %h1.title#page-title= $title

    -# Sidebar First
    - if ($page['sidebar_first'])
      .column.sidebar#sidebar-first= render($page['sidebar_first'])

    -# Main Content
    .column#main
      #main-squeeze
        #content
          - if ($tabs)
            .tabs
              %ul.tabs-primary= render($tabs)
              %ul.tabs-secondary= render($tabs2)
          = $messages, render($help)
          #content-content= render($page['content'])
          = $feed_icons

    -# Sidebar second
    - if ($page['sidebar_second'])
      .column.sidebar#sidebar-second= render($page['sidebar_second'])
